<div class="hotel-container">
  <!-- Room Visualization -->
  <div>
    <div *ngFor="let floor of [10,9,8,7,6,5,4,3,2,1]" class="floor">
      <div class="rooms-row">
        <div *ngFor="let room of getRoomsByFloor(floor)"
             [class.booked]="room.booked"
             class="room">
          {{room.number}}
        </div>
      </div>
    </div>
  </div>


  <!-- Controls -->
  <div class="controls">
    <input type="number" [(ngModel)]="roomCount" min="1" max="5" placeholder="Rooms to book">
    <button (click)="bookOptimalRooms()">Book Rooms</button>
    <button (click)="randomizeOccupancy()">Randomize Occupancy</button>
    <button (click)="resetAllBookings()">Reset All</button>
  </div>
</div>
